<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/load.css') }}">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/rotate.js') }}"></script>
    <script src="{{ url_for('static',filename='js/zlajax.js') }}"></script>
    <style>
        img {
            width: 400px;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
<img class="img01" src="../../static/ima/{{ filename }}">
<form action="" method="post" enctype="multipart/form-data">
    <table>
        <tbody>
        <tr>
            <td>头像：</td>
            <td><input type="file" name="avatar"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="上传"></td>
        </tr>
        </tbody>
    </table>
</form>

<div>
    <button id="rotate">旋转</button>
    <button id="tongdao">通道</button>
    <button id="filter">滤镜</button>
</div>

<div>
    <input type="text" name="title" placeholder="请输入文字">
</div>
<div id="fountainG" style="display: none">
    <div id="fountainG_1" class="fountainG">
    </div>
    <div id="fountainG_2" class="fountainG">
    </div>
    <div id="fountainG_3" class="fountainG">
    </div>
    <div id="fountainG_4" class="fountainG">
    </div>
    <div id="fountainG_5" class="fountainG">
    </div>
    <div id="fountainG_6" class="fountainG">
    </div>
    <div id="fountainG_7" class="fountainG">
    </div>
    <div id="fountainG_8" class="fountainG">
    </div>
</div>
<button id="change">文字图片转换</button>
</body>
</html>